{
  "dashboard": {
    "id": null,
    "title": "Prometheus Stats",
    "tags": [],
    "style": "dark",
    "timezone": "browser",
    "editable": true,
    "hideControls": true,
    "sharedCrosshair": false,
    "rows": [
      {
        "collapse": false,
        "editable": true,
        "height": 178,
        "panels": [
          {
            "cacheTimeout": null,
            "colorBackground": false,
            "colorValue": false,
            "colors": [
              "rgba(245, 54, 54, 0.9)",
              "rgba(237, 129, 40, 0.89)",
              "rgba(50, 172, 45, 0.97)"
            ],
            "datasource": "{{ grafana_datasource_name }}",
            "decimals": 1,
            "editable": true,
            "error": false,
            "format": "s",
            "id": 5,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "nullPointMode": "connected",
            "nullText": null,
            "postfix": "",
            "postfixFontSize": "50%",
            "prefix": "",
            "prefixFontSize": "50%",
            "span": 3,
            "sparkline": {
              "fillColor": "rgba(31, 118, 189, 0.18)",
              "full": false,
              "lineColor": "rgb(31, 120, 193)",
              "show": false
            },
            "targets": [
              {
                "expr": "(time() - process_start_time_seconds{job=\"prometheus_statistics\"})",
                "intervalFactor": 2,
                "refId": "A",
                "step": 4
              }
            ],
            "thresholds": "",
            "title": "Uptime",
            "type": "singlestat",
            "valueFontSize": "80%",
            "valueMaps": [
              {
                "op": "=",
                "text": "N/A",
                "value": "null"
              }
            ],
            "valueName": "current",
            "mappingTypes": [
              {
                "name": "value to text",
                "value": 1
              },
              {
                "name": "range to text",
                "value": 2
              }
            ],
            "rangeMaps": [
              {
                "from": "null",
                "to": "null",
                "text": "N/A"
              }
            ],
            "mappingType": 1,
            "gauge": {
              "show": false,
              "minValue": 0,
              "maxValue": 100,
              "thresholdMarkers": true,
              "thresholdLabels": false
            }
          },
          {
            "cacheTimeout": null,
            "colorBackground": false,
            "colorValue": false,
            "colors": [
              "rgba(50, 172, 45, 0.97)",
              "rgba(237, 129, 40, 0.89)",
              "rgba(245, 54, 54, 0.9)"
            ],
            "datasource": "{{ grafana_datasource_name }}",
            "editable": true,
            "error": false,
            "format": "none",
            "id": 6,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "nullPointMode": "connected",
            "nullText": null,
            "postfix": "",
            "postfixFontSize": "50%",
            "prefix": "",
            "prefixFontSize": "50%",
            "span": 3,
            "sparkline": {
              "fillColor": "rgba(31, 118, 189, 0.18)",
              "full": false,
              "lineColor": "rgb(31, 120, 193)",
              "show": true
            },
            "targets": [
              {
                "expr": "prometheus_local_storage_memory_series",
                "intervalFactor": 2,
                "refId": "A",
                "step": 4
              }
            ],
            "thresholds": "1,5",
            "title": "Local Storage Memory Series",
            "type": "singlestat",
            "valueFontSize": "70%",
            "valueMaps": [],
            "valueName": "current",
            "mappingTypes": [
              {
                "name": "value to text",
                "value": 1
              },
              {
                "name": "range to text",
                "value": 2
              }
            ],
            "rangeMaps": [
              {
                "from": "null",
                "to": "null",
                "text": "N/A"
              }
            ],
            "mappingType": 1,
            "gauge": {
              "show": false,
              "minValue": 0,
              "maxValue": 100,
              "thresholdMarkers": true,
              "thresholdLabels": false
            }
          },
          {
            "cacheTimeout": null,
            "colorBackground": false,
            "colorValue": true,
            "colors": [
              "rgba(50, 172, 45, 0.97)",
              "rgba(237, 129, 40, 0.89)",
              "rgba(245, 54, 54, 0.9)"
            ],
            "datasource": "{{ grafana_datasource_name }}",
            "editable": true,
            "error": false,
            "format": "none",
            "id": 7,
            "interval": null,
            "links": [],
            "maxDataPoints": 100,
            "nullPointMode": "connected",
            "nullText": null,
            "postfix": "",
            "postfixFontSize": "50%",
            "prefix": "",
            "prefixFontSize": "50%",
            "span": 3,
            "sparkline": {
              "fillColor": "rgba(31, 118, 189, 0.18)",
              "full": false,
              "lineColor": "rgb(31, 120, 193)",
              "show": true
            },
            "targets": [
              {
                "expr": "prometheus_local_storage_indexing_queue_length",
                "intervalFactor": 2,
                "refId": "A",
                "step": 4
              }
            ],
            "thresholds": "500,4000",
            "title": "Interal Storage Queue Length",
            "type": "singlestat",
            "valueFontSize": "70%",
            "valueMaps": [
              {
                "op": "=",
                "text": "Empty",
                "value": "0"
              }
            ],
            "valueName": "current",
            "mappingTypes": [
              {
                "name": "value to text",
                "value": 1
              },
              {
                "name": "range to text",
                "value": 2
              }
            ],
            "rangeMaps": [
              {
                "from": "null",
                "to": "null",
                "text": "N/A"
              }
            ],
            "mappingType": 1,
            "gauge": {
              "show": false,
              "minValue": 0,
              "maxValue": 100,
              "thresholdMarkers": true,
              "thresholdLabels": false
            }
          },
          {
            "content": "<img src=\"http://prometheus.io/assets/prometheus_logo_grey.svg\" alt=\"Prometheus logo\" style=\"height: 40px;\">\n<span style=\"font-family: 'Open Sans', 'Helvetica Neue', Helvetica; font-size: 25px;vertical-align: text-top;color: #bbbfc2;margin-left: 10px;\">Prometheus</span>\n\n<p style=\"margin-top: 10px;\">You're using Prometheus, an open-source systems monitoring and alerting toolkit originally built at SoundCloud. For more information, check out the <a href=\"http://www.grafana.org/\">Grafana</a> and <a href=\"http://prometheus.io/\">Prometheus</a> projects.</p>",
            "editable": true,
            "error": false,
            "id": 9,
            "links": [],
            "mode": "html",
            "span": 3,
            "style": {},
            "title": "",
            "transparent": true,
            "type": "text"
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": 227,
        "panels": [
          {
            "aliasColors": {
              "prometheus": "#C15C17",
              "{instance=\"localhost:9090\",job=\"prometheus_statistics\"}": "#C15C17"
            },
            "bars": false,
            "datasource": "{{ grafana_datasource_name }}",
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 3,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 2,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 9,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "rate(prometheus_local_storage_ingested_samples_total[5m])",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{ '{{' }} job {{ '}}' }}",
                "metric": "",
                "refId": "A",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Samples ingested (rate-5m)",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative",
              "ordering": "alphabetical",
              "msResolution": false
            },
            "type": "graph",
            "yaxes": [
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "short"
              },
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "short"
              }
            ],
            "xaxis": {
              "show": true
            }
          },
          {
            "content": "#### Samples Ingested\nThis graph displays the count of samples ingested by the Prometheus server, as measured over the last 5 minutes, per time series in the range vector. When troubleshooting an issue on IRC or Github, this is often the first stat requested by the Prometheus team. ",
            "editable": true,
            "error": false,
            "id": 8,
            "links": [],
            "mode": "markdown",
            "span": 2.995914043583536,
            "style": {},
            "title": "",
            "transparent": true,
            "type": "text"
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {
              "prometheus": "#F9BA8F",
              "{instance=\"localhost:9090\",interval=\"5s\",job=\"prometheus\"}": "#F9BA8F"
            },
            "bars": false,
            "datasource": "{{ grafana_datasource_name }}",
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 2,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 5,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "rate(prometheus_target_interval_length_seconds_count[5m])",
                "intervalFactor": 2,
                "legendFormat": "{{ '{{' }} job {{ '}}' }}",
                "refId": "A",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Target Scrapes (last 5m)",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative",
              "ordering": "alphabetical",
              "msResolution": false
            },
            "type": "graph",
            "yaxes": [
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "short"
              },
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "short"
              }
            ],
            "xaxis": {
              "show": true
            }
          },
          {
            "aliasColors": {},
            "bars": false,
            "datasource": "{{ grafana_datasource_name }}",
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 14,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 4,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "prometheus_target_interval_length_seconds{quantile!=\"0.01\", quantile!=\"0.05\"}",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{ '{{' }} quantile {{ '}}' }} ({{ '{{' }} interval {{ '}}' }})",
                "metric": "",
                "refId": "A",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Scrape Duration",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative",
              "ordering": "alphabetical",
              "msResolution": false
            },
            "type": "graph",
            "yaxes": [
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "short"
              },
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "short"
              }
            ],
            "xaxis": {
              "show": true
            }
          },
          {
            "content": "#### Scrapes\nPrometheus scrapes metrics from instrumented jobs, either directly or via an intermediary push gateway for short-lived jobs. Target scrapes will show how frequently targets are scraped, as measured over the last 5 minutes, per time series in the range vector. Scrape Duration will show how long the scrapes are taking, with percentiles available as series. ",
            "editable": true,
            "error": false,
            "id": 11,
            "links": [],
            "mode": "markdown",
            "span": 3,
            "style": {},
            "title": "",
            "transparent": true,
            "type": "text"
          }
        ],
        "title": "New row"
      },
      {
        "collapse": false,
        "editable": true,
        "height": "250px",
        "panels": [
          {
            "aliasColors": {},
            "bars": false,
            "datasource": "{{ grafana_datasource_name }}",
            "decimals": null,
            "editable": true,
            "error": false,
            "fill": 1,
            "grid": {
              "threshold1": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)"
            },
            "id": 12,
            "legend": {
              "alignAsTable": false,
              "avg": false,
              "current": false,
              "hideEmpty": true,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 2,
            "links": [],
            "nullPointMode": "connected",
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "span": 9,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "prometheus_evaluator_duration_seconds{quantile!=\"0.01\", quantile!=\"0.05\"}",
                "interval": "",
                "intervalFactor": 2,
                "legendFormat": "{{ '{{' }} quantile {{ '}}' }}",
                "refId": "A",
                "step": 2
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Rule Eval Duration",
            "tooltip": {
              "shared": true,
              "value_type": "cumulative",
              "ordering": "alphabetical",
              "msResolution": false
            },
            "type": "graph",
            "yaxes": [
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "percentunit",
                "label": ""
              },
              {
                "show": true,
                "min": null,
                "max": null,
                "logBase": 1,
                "format": "short"
              }
            ],
            "xaxis": {
              "show": true
            }
          },
          {
            "content": "#### Rule Evaluation Duration\nThis graph panel plots the duration for all evaluations to execute. The 50th percentile, 90th percentile and 99th percentile are shown as three separate series to help identify outliers that may be skewing the data.",
            "editable": true,
            "error": false,
            "id": 15,
            "links": [],
            "mode": "markdown",
            "span": 3,
            "style": {},
            "title": "",
            "transparent": true,
            "type": "text"
          }
        ],
        "title": "New row"
      }
    ],
    "time": {
      "from": "now-5m",
      "to": "now"
    },
    "timepicker": {
      "now": true,
      "refresh_intervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ]
    },
    "templating": {
      "list": []
    },
    "annotations": {
      "list": []
    },
    "refresh": false,
    "schemaVersion": 12,
    "version": 0,
    "links": [
      {
        "icon": "info",
        "tags": [],
        "targetBlank": true,
        "title": "Grafana Docs",
        "tooltip": "",
        "type": "link",
        "url": "http://www.grafana.org/docs"
      },
      {
        "icon": "info",
        "tags": [],
        "targetBlank": true,
        "title": "Prometheus Docs",
        "type": "link",
        "url": "http://prometheus.io/docs/introduction/overview/"
      }
    ],
    "gnetId": 2,
    "description": "The  official, pre-built Prometheus Stats Dashboard."
  },
    "overwrite": true
}
