version: '3'

services:
 bitwarden:
  image: bitwardenrs/server
  restart: always
  volumes:
      - "{{ bitwarden_project_directory }}/bw-data:/data"
      - "{{ bitwarden_project_directory }}/ssl:/ssl"
  ports:
    - 80:80
  environment:
#   ROCKET_TLS: '{certs = "/ssl/fullchain.pem", key = "/ssl/key.pem"}'
   LOG_FILE: '/data/bitwarden.log'
   SIGNUPS_ALLOWED: 'true'
