#!/bin/bash

  #удаляет старый бэкап
  rm /data/backup/hv01/bitwarden/backup_*.tgz
  #переход в директорию скрипта
  cd /data/docker/bitwarden/
  #копируем бэкап с удалением из исходной папки
  tar -czf - bw-data | gzip > /data/backup/hv01/bitwarden/backup_`date '+%Y-%m-%d-%H'`.tgz
  #копируем на rsync сервер
  rsync -zr -e '{{ rsync_backup_ssh }}' /data/backup/* {{ rsync_backup_host }}
