global:
  resolve_timeout: 6m

route:
  group_interval: 5m
  repeat_interval: 2h
  group_by: [...]
  receiver: 'alert-warning'
  routes:
  - receiver: 'alert-warning'
    group_by: [...]
    match:
      level: info
  - receiver: 'alert-warning'
    group_by: [...]
    match:
      level: warning
  - receiver: 'alert-warning'
    group_by: [...]
    match:
      level: critical
  - receiver: 'alert-critical'
    group_by: [...]
    match:
      level: deadly

receivers:
- name: 'alert-warning'
  slack_configs:
  - channel: '#alert-warning'
    api_url: 'https://hooks.slack.com/services/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'
    send_resolved: true
    title: "[{{ .CommonLabels.level }}] {{ .GroupLabels.alertname }}"
    text: "*server*: {{ .CommonAnnotations.job }}\n*alias*: {{ .CommonLabels.name }}\n*description*: {{ .CommonAnnotations.description }}\n*url*: {{ .CommonAnnotations.dashboard }}"

- name: 'alert-critical'
  slack_configs:
  - channel: '#alert-critical'
    api_url: 'https://hooks.slack.com/services/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'
    send_resolved: true
    title: "[{{ .CommonLabels.level }}] {{ .GroupLabels.alertname }}"
    text: "*server*: {{ .CommonAnnotations.job }}\n*alias*: {{ .CommonLabels.name }}\n*description*: {{ .CommonAnnotations.description }}\n*url*: {{ .CommonAnnotations.dashboard }}"
