version: '3.1'


services:
  alertmanager: 
    image: prom/alertmanager
    restart: always
    container_name: alertmanager
    volumes:
      - "/data/docker/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml"
      - "/data/docker/alertmanager/alertmanager_data:/alertmanager"

    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/alertmanager"
      - "--web.listen-address={{ alertmanager_web_listen_address }}"
      - "--web.external-url={{ alertmanager_web_external_url }}"
    ports:
      - 9093:9093
