version: "3"


services:
  grafana:
    image: grafana/grafana:6.3.0
    container_name: grafana
    restart: always
    volumes:
      - '/data/docker/grafana/grafana/data:/var/lib/grafana'
      - '/data/docker/grafana/grafana/config:/etc/grafana'
    ports:
      - 3000:3000
    environment:
      GF_SERVER_ROOT_URL: "{{ grafana_root_url }}"
      VIRTUAL_HOST: "{{ grafana_hostname  }}"
      VIRTUAL_PORT: 3000
