#!/bin/bash

  #переход в директорию скрипта
  cp /data/docker/confluence/backups/* /data/backup/hv01/confluence/
  #копируем на rsync сервер
  rsync -zr -e '{{ rsync_backup_ssh }}' /data/backup/* {{ rsync_backup_host }}

