{
    "service": {
        "address": "{{ ansible_default_ipv4.address }}",
        "checks": [
            {
                "http": "http://{{ ansible_default_ipv4.address }}:9253/metrics",
                "interval": "5s"
            }
        ],
        "Tags": [
                "metrics-{{ exporter_metrics }}",
                "dep-{{ exporter_department }}",
                "name-{{ inventory_hostname }}"
        ],
        "name": "{{ exporter_job_name }}",
        "port": 9253
    }
}
