#
# ansible managed file
#

groups:
- name: ansible managed alert rules
  rules:
  - alert: Service is down
    annotations:
      description: '{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} is down for
        more than 1 minutes.'
      summary: The instance {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} is
        down.
    expr: up{job=~".*node-exporter"} != 1
    for: 1m
    labels:
      severity: critical
  - alert: Load average 1 minute
    annotations:
      description: '{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance  }} has high
        load average ({{ $value }}) over 15 minutes.'
      summary: The instance {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} -
        high load average.
    expr: node_load1 > (count(node_cpu_guest_seconds_total{mode="user"}) by (job,instance)
      * 2)
    for: 15m
    labels:
      severity: warning
  - alert: Count of open file descriptors
    annotations:
      description: '{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance  }} has {{ $value
        | printf "%.2f" }} allocated file descriptors.'
      summary: The instance {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} has
        over 100000 allocated file descriptors.
    expr: node_filefd_allocated > 100000
    for: 1m
    labels:
      severity: critical
  - alert: Used RAM more than 95%
    annotations:
      description: '{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} uses {{ $value
        | printf "%.2f" }}% in 15 minutes.'
      summary: The instance {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} uses
        much RAM
    expr: 100 * ((node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / node_memory_MemTotal_bytes)
      >= 95
    for: 15m
    labels:
      severity: warning
  - alert: Used SWAP more than 95%
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* uses {{  $value
        | printf "%.2f" }}% in 10 minutes.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        uses much SWAP
    expr: 100 * ((node_memory_SwapTotal_bytes - node_memory_SwapFree_bytes) / node_memory_SwapTotal_bytes)
      >= 95
    for: 15m
    labels:
      severity: warning
  - alert: Disk space less 5% free
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has only
        free {{ $value | printf "%.2f" }}% free space on *device:* "{{ $labels.device
        }}", *mountpoint:* "{{ $labels.mountpoint }}"'
      summary: The instance {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} has
        low disk space
    expr: 100 * (node_filesystem_free_bytes{fstype="ext4"} / node_filesystem_size_bytes{fstype="ext4"})
      <= 5
    labels:
      severity: critical
  - alert: Disk space less 10% free
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has only
        free {{ $value | printf "%.2f" }}% free space on *device:* "{{ $labels.device
        }}", *mountpoint:* "{{ $labels.mountpoint }}"'
      summary: The instance {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} has
        low disk space
    expr: 100 * (node_filesystem_free_bytes{fstype="ext4"} / node_filesystem_size_bytes{fstype="ext4"})
      <= 10
    labels:
      severity: warning
  - alert: Inodes less than 10%
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has only
        free {{ $value | printf "%.2f" }}% inodes for *device:* "{{ $labels.device }}",
        *mountpoint:* "{{ $labels.mountpoint }}"'
      summary: The instance {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }} has
        less free inodes
    expr: 100 * (node_filesystem_files_free{fstype !~ "tmpfs"} / node_filesystem_files)
      <= 10
    labels:
      severity: critical
  - alert: High iowait cpu
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* cpu iowait
        usage  {{ $value | printf "%.2f" }}% in 3 minutes'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has high iowait CPU usage
    expr: sum by (instance) (irate(node_cpu_seconds_total{mode="iowait"}[15s])) / sum
      by (instance) (irate(node_cpu_seconds_total[15s])) * 100 > 100
    for: 3m
    labels:
      severity: warning
  - alert: High CPU temperature
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* reports
        hwmon temperature value is {{  $value | printf "%.2f" }} in 5 minutes.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        CPU overheated
    expr: node_hwmon_temp_max_celsius - node_hwmon_temp_celsius < 0
    for: 5m
    labels:
      severity: warning
  - alert: RAID failure
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has {{  $value  }}
        inactive RAID disks in 5 minutes'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        RAID disk failure
    expr: node_md_disks - node_md_disks_active > 0
    for: 5m
    labels:
      severity: warning
  - alert: PostgreSQL Down
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* is down
        more than 30 seconds.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        is down.
    expr: pg_up == 0
    for: 30s
    labels:
      severity: critical
  - alert: PostgreSQL. Active transactions
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has {{
        $value | printf "%.2f" }} active transactions in 1 minute.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has many active transactions.
    expr: sum by (instance) (pg_stat_activity_count{state="active"}) > 20
    for: 1m
    labels:
      severity: critical
  - alert: PostgreSQL. Waiting transactions
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has {{
        $value | printf "%.2f" }} waiting transactions in 30 seconds.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has many waiting transactions.
    expr: sum by (instance) (pg_stat_activity_count{state="idle in transaction"})  >
      5
    labels:
      severity: critical
  - alert: PostgreSQL. To many connections
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has {{
        $value | printf "%.2f" }} connections in 5 minutes.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has many connections.
    expr: sum by (instance) (pg_stat_activity_count) > 1000
    for: 5m
    labels:
      severity: warning
  - alert: PostgreSQL. Replica lag (5 minutes)
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has  {{
        $value | printf "%.2f" }} seconds lag between slave.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has 5 minutes lag between slave.
    expr: pg_replication_lag > 60 * 5
    labels:
      severity: warning
  - alert: PostgreSQL. Replica lag (1 hour)
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has  {{
        $value | printf "%.2f" }} seconds lag between slave.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has 1 hour lag between slave.
    expr: pg_replication_lag > 60 * 60
    labels:
      severity: critical
  - alert: RabbitMQ. Mails queues depth grow
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has  {{
        $value | printf "%.2f" }} messages in queue "{{ $labels.queue }}".'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has more than 50 messages in mail queues.
    expr: rabbitmq_queue_messages{queue=~"mail.+"} > 50
    for: 15s
    labels:
      severity: critical
  - alert: Redis. High memory usage
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* uses {{
        $value }} bytes RAM.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        uses much RAM.
    expr: redis_memory_used_bytes >= redis_total_system_memory_bytes * 0.9
    for: 1m
    labels:
      severity: critical
  - alert: Redis has evicted keys
    annotations:
      description: '*{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}* has {{
        $value }} evicted keys.'
      summary: The instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance }}*
        has evicted keys.
    expr: redis_evicted_keys_total > 0
    labels:
      severity: critical
  - alert: Goback self status critical
    annotations:
      description: '*Goback-api DOWN on the {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance
        }}*.'
      summary: Goback-api DOWN on the instance *{{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance
        }}*.
    expr: goback_status{job="goback_metrics"} == 0
    for: 1m
    labels:
      severity: critical
  - alert: Goback self status warning
    annotations:
      description: '*Goback-api status warning on the {{ reReplaceAll "(.*):(.*)" "${1}"
        $labels.instance }}*.'
      summary: Goback-api status warning on the instance *{{ reReplaceAll "(.*):(.*)"
        "${1}" $labels.instance }}*.
    expr: goback_status{job="goback_metrics"} == 1
    for: 2m
    labels:
      severity: warning
  - alert: Goback open files descriptors
    annotations:
      description: Goback-api use {{ $value }} files descriptors.
      summary: Goback-api use to much files descriptors on the instance *{{ reReplaceAll
        "(.*):(.*)" "${1}" $labels.instance }}*.
    expr: process_open_fds{job="goback_metrics"} >= 1000
    for: 1m
    labels:
      severity: critical
  - alert: Data Extractor self status critical
    annotations:
      description: '*Data Extractor DOWN on the {{ reReplaceAll "(.*):(.*)" "${1}" $labels.instance
        }}*.'
      summary: Data Extractor DOWN on the instance *{{ reReplaceAll "(.*):(.*)" "${1}"
        $labels.instance }}*.
    expr: de_status{job="data_extractor_metrics"} == 0
    for: 1m
    labels:
      severity: critical
  - alert: Data Extractor self status warning
    annotations:
      description: '*Data Extractor status warning on the {{ reReplaceAll "(.*):(.*)"
        "${1}" $labels.instance }}*.'
      summary: Data Extractor status warning on the instance *{{ reReplaceAll "(.*):(.*)"
        "${1}" $labels.instance }}*.
    expr: de_status{job="data_extractor_metrics"} == 1
    for: 2m
    labels:
      severity: warning
  - alert: Data Extractor open files descriptors
    annotations:
      description: Data Extractor use {{ $value }} files descriptors.
      summary: Data Extractor use to much files descriptors on the instance *{{ reReplaceAll
        "(.*):(.*)" "${1}" $labels.instance }}*.
    expr: process_open_fds{job="data_extractor_metrics"} >= 1000
    for: 1m
    labels:
      severity: critical
  - alert: ProbeFailing Warning
    annotations:
      description: '{{ $labels.instance }} of job {{ $labels.job }} is temporarily unavailable
        during 2 minutes.'
      summary: Monitored remote service {{ $labels.instance }} is temporarily unavailable
    expr: probe_success{job="blackbox_site_monitoring"} == 0
    for: 2m
    labels:
      severity: warning
  - alert: ProbeFailing CRITICAL
    annotations:
      description: '{{ $labels.instance }} of job {{ $labels.job }} is temporarily unavailable
        during 2 minutes.'
      summary: Monitored remote service {{ $labels.instance }} is temporarily unavailable
    expr: probe_success{job="blackbox_site_monitoring"} == 0
    for: 5m
    labels:
      severity: critical
  - alert: SSL certificate will expire
    annotations:
      description: Certificate will expire in {{ $value | humanizeDuration }}.
      summary: SSL certificate will expire for *{{ $labels.instance }}*.
    expr: probe_ssl_earliest_cert_expiry - time() < 86400 * 30
    for: 10m
    labels:
      severity: warning

