version: "3"

services:
  prometheus:
    image: {{ prometheus_image }}
    container_name: prometheus
    restart: always
    ports:
      - 9090:9090
    volumes:
      - './prometheus:/etc/prometheus'
      - './prometheus_db:/prometheus'
    command: ["--config.file=/etc/prometheus/prometheus.yml",
         "--storage.tsdb.path=/prometheus",
         "--web.console.libraries=/usr/share/prometheus/console_libraries",
         "--web.console.templates=/usr/share/prometheus/consoles","--storage.tsdb.retention.time={{ prometheus_storage_retention }}"]
    environment:
      VIRTUAL_HOST: "{{ prometheus_hostname }}"
      VIRTUAL_PORT: 9090
