{{ ansible_managed | comment }}

{% raw %}
groups:
- name: mysql_alert_rules
  rules:
  - alert: MysqlDown
    expr: mysql_up == 0
    for: 1m
    labels:
      severity: 3
      level: deadly
    annotations:
      summary: 'Mysql is down.'
      description: 'Mysql on the server "{{ $labels.job }}" has been down.'
      url: '<a href="/d/mysql-exporter/mysql-exporter?var-name={{ $labels.name }}&var-host={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.seo:3000/d/mysql-exporter/mysql-exporter?var-name={{ $labels.name }}&var-host={{ $labels.instance }}'

  - alert: MySQLTooManyConnections
    expr: mysql_global_status_threads_connected / mysql_global_variables_max_connections * 100 > 80
    for: 15m
    labels:
      severity: 3
      level: deadly
    annotations:
      description: 'MySQL has too many connections {{$value}} > 80% for over 15 minutes.'
      summary: 'MySQL has too many connections'
      url: '<a href="/d/mysql-exporter/mysql-exporter?var-name={{ $labels.name }}&var-host={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.seo:3000/d/mysql-exporter/mysql-exporter?var-name={{ $labels.name }}&var-host={{ $labels.instance }}'

  - alert: MySQLWillOverloadConnectionsSoon
    expr: predict_linear(mysql_global_status_threads_connected[2m], 60*30) > mysql_global_variables_max_connections
    for: 5m
    labels:
      severity: 2
      level: critical
    annotations:
      description: 'MySQL will overload connections soon {{$value}} > 80% for over 5 minutes.'
      summary: 'MySQL will overload connections soon'
      url: '<a href="/d/mysql-exporter/mysql-exporter?var-name={{ $labels.name }}&var-host={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.seo:3000/d/mysql-exporter/mysql-exporter?var-name={{ $labels.name }}&var-host={{ $labels.instance }}'

{% endraw %}
