{{ ansible_managed | comment }}

{% raw %}
groups:
- name: nginx_alert_rules
  rules:
  - alert: NginxDown
    expr: nginx_up == 0
    for: 1m
    labels:
      severity: 3
      level: deadly
    annotations:
      summary: 'Nginx on instance {{ $labels.instance }} is down.'
      description: 'Nginx on the server "{{ $labels.instance }}" has been down.'
      url: '<a href="/d/nginx-exporter/nginx-exporter?var-name={{ $labels.name }}&var-instance={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/nginxlog-exporter/nginxlog-exporter?var-job={{ $labels.instance }}'

  - alert: NginxTimeResponse2s
    expr: sum(rate(nginx_http_response_time_seconds_sum[1m])) / sum(rate(nginx_http_response_time_seconds_count[1m])) > 2
    for: 1m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: 'Nginx response too long on instance {{ $labels.instance }}'
      description: 'Too long HTTP time response  VALUE = {{ $value }}'
      url: '<a href="/d/nginxlog-exporter/nginxlog-exporter?var-job={{ $labels.job }}&var-instance={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/nginxlog-exporter/nginxlog-exporter?var-job={{ $labels.instance }}'

  - alert: NginxTimeResponse5s
    expr: sum(rate(nginx_http_response_time_seconds_sum{job=~"$job"}[1m])) / sum(rate(nginx_http_response_time_seconds_count{job=~"$job"}[1m])) > 5
    for: 1m
    labels:
      severity: 3
      level: deadly
    annotations:
      summary: 'Nginx response too long on instance {{ $labels.instance }}'
      description: 'Too long HTTP time response,   VALUE = {{ $value }}'
      url: '<a href="/d/nginx-exporter/nginx-exporter?var-name={{ $labels.name }}&var-instance={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/nginxlog-exporter/nginxlog-exporter?var-job={{ $labels.instance }}'

  - alert: NginxManyRequests
    expr: sum(rate(nginx_http_response_time_seconds_count[1m])) > 25
    for: 1m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "Nginx many requests (instance {{ $labels.instance }})"
      description: "Too many HTTP requests VALUE = {{ $value }}"
      url: '<a href="/d/nginxlog-exporter/nginxlog-exporter?var-job={{ $labels.job }}&var-instance={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/nginxlog-exporter/nginxlog-exporter?var-job={{ $labels.instance }}'

  - alert: NginxHighHttp5xxErrors
    expr: sum(sum(rate(nginx_http_response_count_total{status=~"5.."}[1m])) by (status)) > 1
    for: 1m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: "Nginx high HTTP 5xx error rate (instance {{ $labels.instance }})"
      description: "Too many HTTP requests with status 5xx VALUE = {{ $value }}"
      url: '<a href="/d/nginx-exporter/nginx-exporter?var-name={{ $labels.name }}&var-instance={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.instance }}'




{% endraw %}
