{{ ansible_managed | comment }}

{% raw %}
groups:
- name: node_alert_rules
  rules:
  - alert: InstanceIsDown
    expr: up != 1
    for: 1m
    labels:
      severity: 3
      level: deadly
    annotations:
      description: 'The instance {{ $labels.instance }} is down for more than 1 minutes.'
      summary: 'The instance {{ $labels.instance }} is down.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

# Оперативная память

  - alert: OutOfMemoryCrit
    expr: 100 - node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 > 95
    for: 5m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: 'Out of memory (instance {{ $labels.instance }})'
      description: 'Out memory free left {{ $value | printf "%.2f" }}% > limit 95% for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: OutOfMemory
    expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 > 5 and ON(job)
          node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 20
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: 'Out of memory (instance {{ $labels.instance }})'
      description: 'Out memory free left {{ $value | printf "%.2f" }}% < limit 5% for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

# Swap файл

  - alert: SwapIsFillingUp
    expr: (1 - (node_memory_SwapFree_bytes / node_memory_SwapTotal_bytes)) * 100 > 75
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "Swap is filling up (instance {{ $labels.instance }})"
      description: 'Swap is filling up {{ $value | printf "%.2f" }}% > limit 75% for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

# Диски

  - alert: UnusualDiskReadRate
    expr: sum by (instance) (irate(node_disk_read_bytes_total[2m])) / 1024 / 1024 > 50
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: 'Unusual disk read rate (instance {{ $labels.instance }})'
      description: 'Disk is probably reading too much data (> 50 MB/s)  VALUE = {{ $value | printf "%.2f" }}'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: UnusualDiskWriteRate
    expr: sum by (instance) (irate(node_disk_written_bytes_total[2m])) / 1024 / 1024 > 50
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: 'Unusual disk write rate (instance {{ $labels.instance }})'
      description: 'Disk is probably writing too much data (> 50 MB/s)  VALUE = {{ $value | printf "%.2f" }}'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: OutOfDiskSpaceDeadly
    expr: '100 - (node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"} > 98'
    for: 5m
    labels:
      severity: 3
      level: deadly
    annotations:
      summary: "Out of disk space (instance {{ $labels.instance }})"
      description: 'Disk is almost full {{ $value | printf "%.2f" }}% < limit 15% for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: OutOfDiskSpaceCrit
    expr: '100 - (node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"} < 98 and ON(job)
           100 - (node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"} > 95'
    for: 5m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: "Out of disk space (instance {{ $labels.instance }})"
      description: 'Disk is almost full {{ $value | printf "%.2f" }}% < limit 15% for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: OutOfDiskSpace
    expr: '100 - (node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"} < 95 and ON(job)
           100 - (node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"} > 85'
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "Out of disk space (instance {{ $labels.instance }})"
      description: 'Disk utilization "/" is almost full {{ $value | printf "%.2f" }}% > limit 85% for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: UnusualDiskReadLatency
    expr: rate(node_disk_read_time_seconds_total[1m]) / rate(node_disk_reads_completed_total[1m]) > 100
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "Unusual disk read latency (instance {{ $labels.instance }})"
      description: 'Disk latency is growing (read operations > 100ms)\n  VALUE = {{ $value | printf "%.2f" }}'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: UnusualDiskWriteLatency
    expr: rate(node_disk_write_time_seconds_total[1m]) / rate(node_disk_writes_completed_total[1m]) > 100
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "Unusual disk write latency (instance {{ $labels.instance }})"
      description: 'Disk latency is growing (write operations > 100ms)\n  VALUE = {{ $value | printf "%.2f" }}'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

# Трафик

  - alert: UnusualNetworkThroughputIn
    expr: sum by (instance) (irate(node_network_receive_bytes_total[2m])) / 1024 / 1024 > 100
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: 'Unusual network throughput in (instance {{ $labels.instance }})'
      description: 'Host network interfaces are probably receiving too much data (> 100 MB/s)\n  VALUE = {{ $value | printf "%.2f" }}'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: UnusualNetworkThroughputOut
    expr: sum by (instance) (irate(node_network_transmit_bytes_total[2m])) / 1024 / 1024 > 100
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: 'Unusual network throughput out (instance {{ $labels.instance }})'
      description: 'Host network interfaces are probably sending too much data (> 100 MB/s)\n  VALUE = {{ $value | printf "%.2f" }}'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

# Процессор

  - alert: LowCpuIdleTime
    expr: (avg by(instance) (irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) < 20
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "CPU idle time too low (instance {{ $labels.instance }})"
      description: 'CPU idle time too low {{ $value | printf "%.2f" }}% < limit 20% for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: HighCpuLoad50%
    expr: (1 - avg(irate(node_cpu_seconds_total{mode="idle"}[5m])) by (instance)) > 50
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "CPU load more then 50% (instance {{ $labels.instance }})"
      description: 'High CPU load   {{ $value | printf "%.2f" }} > 50%'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: HighCpuLoad95%
    expr: (1 - avg(irate(node_cpu_seconds_total{mode="idle"}[5m])) by (instance)) > 95
    for: 5m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: "CPU load more then 50% (instance {{ $labels.instance }})"
      description: 'High CPU load   {{ $value | printf "%.2f" }} > 95%'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: CpuLoadAverage
    expr: (count(node_cpu{mode='idle'}) * 0.95 ) < node_load5
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "CPU load average 5m is too high (instance {{ $labels.instance }})"
      description: 'CPU load average 5m is too high {{ $value | printf "%.2f" }}% > CPU core for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: ContextSwitching
    expr: rate(node_context_switches_total[5m]) > count(node_cpu{mode='idle'}) * 400
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "Context switching (instance {{ $labels.instance }})"
      description: 'Context switching is growing on node {{ $value | printf "%.2f"}} for more than 5 minutes.'
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

# Демоны

  - alert: SystemdServiceCrashed
    expr: node_systemd_unit_state{state="failed"} == 1
    for: 5m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: "SystemD service crashed (instance {{ $labels.instance }})"
      description: "SystemD service crashed\n  VALUE = {{ $value }}"
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

# Температуры

  - alert: PhysicalComponentTooHot
    expr: node_hwmon_temp_celsius > 75
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: "Physical component too hot (instance {{ $labels.instance }})"
      description: "Physical hardware component too hot\n  VALUE = {{ $value }}"
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

  - alert: NodeOvertemperatureAlarm
    expr: node_hwmon_temp_alarm == 1
    for: 5m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: "Node overtemperature alarm (instance {{ $labels.instance }})"
      description: "Physical node temperature alarm triggered\n  VALUE = {{ $value }}"
      url: '<a href="/d/node-exporter/node-exporter?var-job={{ $labels.job }}&var-hostname={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.infra:3000/d/node-exporter/node-exporter?var-job={{ $labels.job }}'

{% endraw %}
