{{ ansible_managed | comment }}

{% raw %}
groups:
- name: phpfpm2_alert_rules
  rules:
  - alert: PhpfpmDown
    expr: php_fpm_up == 0
    for: 1m
    labels:
      severity: 3
      level: deadly
    annotations:
      summary: 'php-fpm "{{ $labels.instance }}" is down.'
      description: 'php-fpm "{{ $labels.instance }}" is down for more than 1 minutes.'
      url: '<a href="/d/pfpfpm-exporter/pfpfpm-exporter?var-job={{ $labels.job }}&var-name={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.seo:3000/d/pfpfpm-exporter/pfpfpm-exporter?var-job={{ $labels.job }}&var-name={{ $labels.name }}&var-node={{ $labels.instance }}'

  - alert: PhpfpmProcCrit
    expr: php_fpm_active_processes > 49
    for: 5m
    labels:
      severity: 2
      level: critical
    annotations:
      summary: 'php-fpm process is too high "{{ $value }}"'
      description: 'php-fpm process is too high "{{ $value }}"'
      url: '<a href="/d/pfpfpm-exporter/pfpfpm-exporter?var-job={{ $labels.job }}&var-name={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.seo:3000/d/pfpfpm-exporter/pfpfpm-exporter?var-job={{ $labels.job }}&var-name={{ $labels.name }}&var-node={{ $labels.instance }}'

  - alert: PhpfpmProcHigh
    expr: php_fpm_active_processes > 19
    for: 5m
    labels:
      severity: 1
      level: warning
    annotations:
      summary: 'php-fpm process is too high "{{ $value }}"'
      description: 'php-fpm process is too high "{{ $value }}"'
      url: '<a href="/d/pfpfpm-exporter/pfpfpm-exporter?var-job={{ $labels.job }}&var-name={{ $labels.name }}&var-node={{ $labels.instance }}"><b>&#9776;</b></a>'
      name: '{{ $labels.name }}'
      job: '{{ $labels.job }}'
      node: '{{ $labels.instance }}'
      dashboard: 'http://grafana.seo:3000/d/pfpfpm-exporter/pfpfpm-exporter?var-job={{ $labels.job }}&var-name={{ $labels.name }}&var-node={{ $labels.instance }}'

{% endraw %}
